<ion-view>
  <ion-content class="padding">
    <form name="settingsForm" data-ng-controller="SettingsController as settingsController">
      
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Minutes Before Fajr</span>
          <input type="text" placeholder="eg. 10" type="number" name="minutes" 
              required 
              data-validate-greater-than="0"
              data-validate-lesser-than="120"
              data-ng-model="settingsController.minutesBeforeFajrInput" />
            
            <div ng-messages="settingsForm.minutes.$error" style="color:maroon" role="alert">
              <div ng-message="required">Enter a value</div>
              <div ng-message="minlength">Your field is too short</div>
            </div>
        </label>
        <label class="item item-input item-select item-stacked-label">
          <span class="input-label">
            Calculation Method
          </span>
          <div>
            <select data-ng-model="settingsController.calculationMethod"  
                data-ng-options="key as value.name for (key, value) in settingsController.calculationMethodList">
            </select>
          </div>
        </label>
      </div> 
      <div class="row">
        <button class="button button-full button-balanced" data-ng-click="settingsController.onSubmit()">
          Submit
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>