<ion-view>
	<ion-content class="padding">
		<div data-ng-controller="HomeController as homeController" class="home-view">
			<div data-ng-show="homeController.isAlarmSet">
				<div class="list">
				  <div class="item">
					Alarms set to {{homeController.minutesBeforeFajr}} mins before Fajr
				  </div>
				</div>
				<div class="list">
				  <div class="item item-divider">
				    Upcoming Alarms 
				  </div>
				  <div class="item" data-ng-repeat="alarm in homeController.alarms track by $index">
				    {{alarm}}
				  </div>
				</div>
				<div class="list">
				  <div class="item">
					Current Location: Chicago
				  </div>
				</div>
				<button class="button button-full button-assertive" data-ng-click="homeController.turnOffAlarm()">
					Turn off Alarm
				</button>
			</div>
			<div data-ng-show="!homeController.isAlarmSet">
				<p>Your Tahajjud alarm is not set. Click below to set it up:</p>
				<a href="#/settings" class="button button-full button-balanced">
				  Set up Alarm
				</a>
			</div>
		</div>
	</ion-content>
</ion-view>